@tailwind base;
@tailwind components;
@tailwind utilities;

.default-radial-gradient-1 {
    background: rgb(3,7,18);
    background: linear-gradient(180deg, rgba(3,7,18,1) 70%, rgba(97,41,55,1) 95%);
}

.text-stroke-black {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.text-stroke-red {
    text-shadow: -1px -1px 0 black, 1px -1px 0 #612937, -1px 1px 0 black, 1px 1px 0 black;
}